<style>
    #head{
        display: flex; 
        justify-content: end;
        align-items: center;
        margin: 0 32px;
        height: 60px;
    }
    #head nav{
        display: block;
        margin-top: 32px;
    }
    #head nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 32px;
    }
    .link{
        text-decoration: none;
        font-size: 18px;
        color: black;
    }
</style>
<div id="head">
    <nav>
        <ul>
            <li><a class="link" href="">accueil</a></li>
            <li><a class="link" href="">s'inscrire</a></li>
            <li><a class="link" href="">se connecter</a></li>
        </ul>
    </nav>
</div>
<hr>