<style>
    #head{
        display: flex; 
        justify-content:space-between;
        align-items: center;
        margin: 0 32px;
        height: 60px;
    }
    #head nav{
        display: block;
        margin-top: 32px;
    }
    #head nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 32px;
    }
    .link{
        text-decoration: none;
        font-size: 18px;
        color: black;
    }
</style>
<div id="head">
    {% if user.is_authenticated %}
        <div class="picture-container">
            <div class="picture">
                <img src="" class="picture-src" id="wizardPicturePreview" title=""/>
            </div>
            <h6>{{ user.email }}</h6>
        </div>
    {% endif %}
    
    <nav>
        <ul>
            <li><a class="link" href="">accueil</a></li>
            <li><a class="link" href="{% url 'ajouterPersonne' %}">s'inscrire</a></li>
            <li><a class="link" href="{% url 'connexion' %}">se connecter</a></li>
        </ul>
    </nav>
</div>
<hr>